[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
channels = "*"
channels-redis = "*"
celery = "*"
redis = "*"
scikit-learn = "*"
statsmodels = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
sklearn = "*"

[requires]
python_version = "3.8"
